div.container.debug-grid
  div.row
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
    div.col-1
      div.spacer
  div.row
    div.col-6
      div.spacer
    div.col-6
      div.spacer
  div.row
    div.col-4
      div.spacer
    div.col-4
      div.spacer
    div.col-4
      div.spacer
  div.row
    div.col-3
      div.spacer
    div.col-3
      div.spacer
    div.col-3
      div.spacer
    div.col-3
      div.spacer
  div.row
    div.col-2
      div.spacer
    div.col-2
      div.spacer
    div.col-2
      div.spacer
    div.col-2
      div.spacer
    div.col-2
      div.spacer
    div.col-2
      div.spacer

style.
  .debug-grid {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .spacer {
    background: coral;
    height: 48px;
  } 
  .row + .row {
    margin-top: 48px;
  }
