div.resizer(class=resizerClass || '')
  a.resizer-link.resizer-link--375(data-resizer="375px")
  a.resizer-link.resizer-link--768(data-resizer="768px")
  a.resizer-link.resizer-link--1024(data-resizer="1024px")
  a.resizer-link.resizer-link--100.resizer-link--active(data-resizer="100%")
