// start `page-header` component;
header.page-header
  div.page-header__banner
    div.page-header__logo
      img(src=component.logo.img, alt=component.logo.alt)

    if component.links
      nav.page-header__tabs.d-none.d-sm-block
        each link in component.links
          a(href=link.url)=link.title
// end `page-header` component; 
