doctype html
html(lang="en")
    head
        - var title = "Landing Page (section1)"
        include ../../includes/head
    body
        div.container-fluid
            include ../../modules/header/module
            include ../../modules/footer/module
        
        include ../../includes/scripts
        script(src="../js/page-landing.js")
