doctype html
html(lang="en")
    head
        - var title = "Landing Page"
        include ../../includes/head
    body
        p landing page
        
        include ../../modules/header/module
        include ../../modules/footer/module
        include ../../includes/scripts
        script(src="../js/page-landing.js")
