doctype html
html(lang="en")
    head
        - var title = "Article Page (Red)"
        include ../../includes/head
    body
        div.container-fluid
            include ../../modules/header/module
            include ./_content
            main
                h1 Red article title
                p lorem ipsum
            include ../../modules/footer/module
        
        include ../../includes/scripts
        script(src="../js/page-article.js")
