doctype html
html(lang="en")
    head
        include ../../includes/head
    body
        p article page (blue)
        
        include ../../modules/header/module
        include ../../modules/footer/module
        include ./_content
        
        include ../../includes/scripts
        script(src="../js/page-article.js")
