.view-component {
  position: relative;
  transition: all 0.6s;
  height: $size__component-view;

  .grid & {
    border: $size__gutter solid $color-bg__card--border;
    border-left: 0;
    box-sizing: content-box;

    &::before {
      position: absolute;
      top: 0 - $size__gutter - $size__shadow;
      bottom: 0 - $size__gutter - $size__shadow;
      left: 0 - $size__shadow;
      z-index: $z-index__card--shadow-cover;
      background: $color-bg__card--border;
      width: 100%;
      width: $size__shadow;
      content: '';
    }
  }

  &__loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.9s;
    opacity: 1;
    z-index: $z-index__component-view--loading;
    background: $color-bg__component-view--loading;
    color: $color-text__component-view--loading;

    &-text {
      padding-top: 38px;
      text-align: center;
    }
  }

  &__loaded {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s;
    z-index: $z-index__component-view--loaded;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &--resized {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__iframe {
    transition: all 0.3s;
    border: 0;
    width: 100%;
    height: $size__component-view;
  }

  &--loaded {
    background: $color-bg__component-view--loaded;

    .view-component__loading {
      opacity: 0;
    }
  }
}
