.slat-list {
  margin-top: size(1);

  &__title {
    font-size: $font-size__large;
    padding: size(1) 0;
  }

  hr {
    border: 0;
    border-top: 1px solid $color__highlightLight;
    margin: size(0.5) 0 (size(0.5) - 1);
  }
}
