html.view-template--open {
  height: 100%;

  // added to the body tag when a template IFRAME is made visible;
  // this is to prevent double scrollbars (page and iframe);
  body {
    overflow: hidden;
  }
}

.view-template {
  margin: 0;

  &__close {
    display: none;
    position: absolute;
    top: 10px; // match page-header padding;
    right: 10px;

    // don’t show the close iframe link text at mobile;
    &-text {
      display: none;

      @include breakpoint($breakpoint--sm) {
        display: inline;
      }
    }

    .fa {
      margin-left: 0.5em;
    }
  }

  &__overlay {
    position: absolute;
    top: 74px; // height of page-header + resizer;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: translate(1024px, 18px) scale(0);
    transition: all 0.3s;
    opacity: 0.5;
    background: $color-bg__template-overlay; // visible once the resizer is used;
  }

  &__iframe-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: calc(100vh - 74px); // tall as the window so the scrollbar functions as expected;

    &--resized {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__iframe {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }

  &--open {
    .view-template__close,
    .view-template__resizer {
      display: block;
    }

    .view-template__overlay {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }
}
