div.view-template
  a.button.view-template__close.js__view-template--close
    span.view-template__close-text Close Template
    i.fa.fa-times(aria-hidden="true")

  div.view-template__overlay
    div.view-template__iframe-wrapper
      iframe.view-template__iframe
