doctype html
html(lang="en")
  head
    title Templates

  body
    ul
      - (locals && locals.json && locals.json.pages) && locals.json.pages.map((page) => {
        li
          a(href=page.html)=page.html
      - })
