div.perspective
  include ./_nav
  
  div.perspective__content-wrapper
    div.perspective__content
      header.page-header
        a.button.page-header__menu.js__perspective
          i.fa.fa-bars(aria-hidden="true")
          span.page-header__menu-text=title
      main 
