doctype html
html(lang="en")
  head
    include ../templates/_head
    
    style.
      // insert styles specific to the documentation;
      // this typically contains removing margins, or positioning;
    - if (nullmargins) {
      // remove margins on the module (better displayed in this format without the required margins);
      style.
        body > * {
          margin: 0 !important;
        }
    - }

  body
    !=wrapper_before
    !=html
    !=wrapper_after
    
    include ../templates/_foot
