doctype html
html(lang="en")
  head
    include ./_head

  body
    include ./_wrapper
      div.card.card--rich-text
        h1=colors
        - Object.keys(scssVariables).forEach((key, index) => {
          p #{ key } #{ scssVariables[key] }
        - })
    
    include ./_foot
