doctype html
html(lang="en")
  head
    - var title = '/src/templates/' + folder
    include ./_head

  body
    include ./_wrapper
      div.template__resizer
        a.template__resizer-link.template__resizer-link--375.js__template--resizer(data-resizer="375px")
        a.template__resizer-link.template__resizer-link--768.js__template--resizer(data-resizer="768px")
        a.template__resizer-link.template__resizer-link--1024.js__template--resizer(data-resizer="1024px")
        a.template__resizer-link.template__resizer-link--100.template__resizer-link--active.js__template--resizer(data-resizer="100%")
      
      div.templates
        - pages.map((page, index) => {
          a.button.templates__button.js__template--open(data-url=page.url)
            i.fa.fa-desktop
            |  Open #{ page.title } Template
        - })
      
      div.card
        div.card__content.card__content--rich-text
          !=markdown
      
      div.template
        a.button.template__close.js__template--close
          span.template__close-text Close Template
          i.fa.fa-times(aria-hidden="true")
        
        div.template__overlay
          div.template__iframe-wrapper
            iframe.template__iframe
    
    include ./_foot
