doctype html
html(lang="en")
  head
    - var title = '/src/components/' + folder
    include ./_head

  body
    include ./components/page/page
      article.card
        div.card__content.card__content--rich-text
          !=markdown

      - if (views.length > 1) {
        div.component-nav
          - views.map((view, index) => {
            a.button(class=index === 0 ? 'button--selected' : '') Show #{ view.title } Component
            - if (index < views.length - 1) {
              |  &nbsp;  
            - }
          - })
      - }
      
      - views.map((view, index) => {
        div.component(class=index === 0 ? 'component--selected' : '')
          - if (size && size.indexOf('px')) {
            div(style=`width: ${size};`)
              - var path = view.html;
              include ./components/component-view/component-view

            div.card
              div.card__content
                - var tabs = view;
                include ./components/tabs/tabs

          - } else {
            div
              - var path = view.html;
              include ./components/component-view/component-view

              include ./components/resizer/resizer

            div.card
              div.card__content
                - var tabs = view;
                include ./components/tabs/tabs
          - }
      - })

    include ./_foot
