doctype html
html(lang="en")
  head
    - var title = '/src/templates/' + folder
    include ./_head

  body
    include ./components/page/page
      div.card
        div.card__content.card__content--rich-text
          !=markdown

      div
        - pages.map((page, index) => {
          a.button.js__view-template--open(href=page.url)
            i.fa.fa-desktop
            |  Open #{ page.title } Template
          - if (index < pages.length - 1) {
            |  &nbsp;  
          - }
        - })

      div.card
        div.card__content
          include ./components/tabs/tabs

      - var resizerClass = 'resizer--view-template'
      include ./components/resizer/resizer

      include ./components/view-template/view-template

    include ./_foot
