$paddingWithBottomBorder: size(0.5) - 1px size(1) size(0.5);

.site-nav {
  a {
    color: $color__textLight;
    display: block;
    padding: $paddingWithBottomBorder;
    text-decoration: none;
    border-top: 1px solid $color__highlightDark;
    padding-left: size(2);
    transition: color $duration__color;

    &:hover,
    &:focus {
      color: $color__highlightDark;
      text-decoration: underline;
    }
  }

  p {
    color: $color__textLight;
    font-weight: 500;
    margin: 0;
    padding: $paddingWithBottomBorder;
    border-top: 1px solid $color__highlightDark;
    padding-left: size(1.5);
  }

  &__skip {
    position: absolute;
    color: $color__highlightLight;
    border: 0;
    padding: 12px;
    top: 24px;
    line-height: 24px;
    left: 72px;
  }

  // panel/drawer of navigation that appears from off-left;
  &__drawer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    outline: none;
    transition: transform 0.5s ease-in-out;
    width: size(11);
    transform: translateX(-120%);
    background-color: $color__backgroundDark;
    padding: size(4) 0 size(1);
    overflow-x: hidden;

    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: $color__highlightDark;
    }

    &--show {
      transform: translateX(0);
    }
  }

  // list of links, nested within a section, or subsection;
  &__links {
    display: none;
  }

  // heading with links;
  &__sub-sections {
    display: none;
  }

  // make buttons appear to be links;
  // all buttons trigger an action, they dont take the user to a new URL;
  &__button {
    background: transparent;
    border: 0;
    color: $color__textLight;
    cursor: pointer;
    line-height: $line-height__medium;
    margin: 0;
    padding: 0;
    transition: color $duration__color;

    &:hover,
    &:focus {
      color: $color__highlightDark;
      text-decoration: underline;

      svg {
        fill: $color__highlightDark;
      }
    }

    // navigation open/close icon buttons;
    &-icon {
      position: absolute;

      svg {
        transition: fill $duration__color;
        width: 100%;
        height: 100%;
      }

      &--open {
        top: size(1.25);
        left: size(1);
        width: size(1.5);
        height: size(1.5);
      }

      &--close {
        top: size(1);
        right: size(0.5);
        width: size(2);
        height: size(2);

        // icon looks a little off center at this size, move it up a pixel to fix;
        svg {
          position: relative;
          top: -1px;
          left: -1px;
        }
      }
    }

    &-toggle {
      padding: $paddingWithBottomBorder;
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $color__highlightDark;

      span {
        flex-grow: 1;
      }

      svg {
        height: size(1);
        width: size(1);
        fill: $color__textLight;
        transition: transform 0.5s ease-out;
      }
    }
  }

  // top level grouping of links;
  // may contain one, may contain a list, may contain a list with headings;
  &__section {
    // home link is the only A that isn't nested;
    // make it appear to be a button;
    &:nth-of-type(1) a {
      padding-left: size(1);
    }

    &--show {
      .site-nav__links,
      .site-nav__sub-sections {
        display: block;
      }

      .site-nav__button-toggle {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
