@import './vars';

.card {
  a {
    color: $color__textDark;
    text-decoration: none;
    display: block;
    transition: color $duration__color;

    &:hover,
    &:focus {
      color: $color__highlightLight;

      h1,
      h2,
      h3 {
        text-decoration: underline;
      }

      img {
        opacity: $opacity__hover;
      }
    }
  }
}

.card--stacked {
  padding-top: $card__img-margin; // if we used a margin on the img, the BG wouldn't show;
  background: $color__backgroundDarkShade;

  .img-cover {
    height: size(8) - $card__img-margin * 2;
    margin: 0 $card__img-margin $card__img-margin;
  }

  h2,
  h3 {
    padding: size(0.5) size(1);
  }
}

.card--overlay {
  position: relative;

  // default size is square;
  .img-cover {
    padding-bottom: 100%;
  }

  h1,
  h2,
  h3 {
    position: absolute;
    bottom: size(0.5);
    left: size(0.75);
    right: size(0.75);

    font-size: $font-size__medium;
    line-height: $line-height__medium;
    font-weight: 700;
  }
}
