- var content = json || {}

include ../_common
include ./_tools

section.list.list-templated
    h1=content.h1
    - if (content.links) {
        ul
            - content.links.map(function (link) {
                li
                    a(href=link.url)=link.text
            - })
    - }
