- var content = content || {}

include ../_common
include ./_tools
p list-templated
- if (content.links) {
    ul
        - content.links.map(function (link) {
            li
                a(href=link.url)=link.text
        - })
- }
