.skip-nav {
  a {
    position: absolute;
    top: -1000px;
    left: -1000px;
    background: $color__backgroundDark;
    color: $color__highlightDark;
    font-size: $font-size__small;
    font-weight: 700;
    line-height: $line-height__medium;
    padding: size(0.25) size(0.5);
    text-decoration: none;
    text-transform: uppercase;
    width: size(7);

    // on small devices cover the logo completely;
    // visually this is better than just covering part of it;
    &:focus {
      top: size(1.25);
      left: 50%;
      margin-left: size(-3.5);
      outline: 1px solid $color__highlightDark;

      // once we have enough horizontal space that the link won't overlap the logo;
      // push it to the left, next to the hamburger link;
      @include breakpoint($breakpoint--sm) {
        top: size(1.25);
        left: size(3);
        margin-left: 0;
      }
    }
  }
}
