doctype html
html(lang="en")
    head
        include ../../includes/head
    body
        p home page
        include ../../modules/header/module
        include ../../modules/list/ajax/module
        include ../../modules/list/templated/module
        include ../../modules/footer/module
        
        include ../../includes/scripts
