// start `headline-slideshow` component; 
section.headline-slideshow
  header
    h2=component.title
    nav.d-sm-inline
      each link in component.links
        a(href=link.url)=link.title
  
  div.headline-slideshow__slides
    //- assign slides to a new VAR because once we include the nested component, the `component` VAR will be reset;
    - var slides = component.slides
    each slide in slides
      div.headline-slideshow__slide
        if slide.stories.length > 1
          - var component = slide
          include ../../components/slat-list/slat-list
        
        else
          - var component = slide.stories[0]
          - component.addClass = "card--stacked"
          include ../card/card
// end `headline-slideshow` component; 
