* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 20px;

  > * + * {
    margin-top: 100px;
  }
}

// syntax highlighting;
pre[class*='language-'] {
  margin: 0;
  border-radius: 0;
}
