.button {
  display: inline-block;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    outline: 0;
  }
}
