.button {
  display: inline-block;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
  color: #222;

  &:hover,
  &:focus {
    outline: 0;
    background: #c8c8c8;
  }

  &:active {
    background: #b8b8b8;
  }
}
