.card__content {
  &--component-head {
    padding-bottom: 0;
  }

  &--component-foot {
    padding-top: 0;
  }

  &--component-view {
    border: 20px solid #fff;
    border-width: 20px 0;
    margin: 0 -20px;
    padding: 0;
    position: relative;
    max-width: none;

    &::after,
    &::before {
      position: absolute;
      content: '';
      height: 10px;
      background: #fff;
      width: 100%;
      max-width: 60em;
    }

    &::before {
      top: -25px;
      left: 20px;
      height: 10px;
    }

    &::after {
      bottom: -25px;
      left: 20px;
      height: 10px;
    }
  }
}
