.card__content {
  &--colors {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background: #fff;
    max-width: 90em;

    &::before {
      position: absolute;
      top: -10px;
      left: 0;
      background: #fff;
      width: 100%;
      max-width: 60em;
      height: 10px;
      content: '';
    }
  }
}
