.card {
  display: block;
  height: 100%;

  &__content {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background: #fff;
    padding: 20px;
    max-width: 60em;
    height: 100%;

    &-title {
      display: block;
      position: relative;
      z-index: 1;
      line-height: 1.6;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
