.component-grid {
  display: flex;

  &__content {
    flex: 1;
    max-width: 60em;

    .card__content {
      margin-right: 0;
    }
  }

  &__view {
    padding-top: 107px; // line up with the code view;
  }
}
