.component-view {
  transition: all 0.6s;
  height: 100px;
  position: relative;

  .component-grid & {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    border: 20px solid #fff;
    border-left: 0;
    box-sizing: content-box;

    &::before {
      position: absolute;
      background: #fff;
      width: 100%;
      width: 10px;
      content: '';
      top: -25px;
      bottom: -25px;
      left: -10px;
      z-index: 300;
    }
  }

  &--loaded {
    .component-view__loading {
      opacity: 0;
    }

    .component-view__loaded {

    }
  }

  &__loading {
    transition: opacity 0.9s;
    background: #666;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 200;

    &-text {
      text-align: center;
      padding-top: 38px;
    }
  }

  &__loaded {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    transition: all 0.3s;
    transform: translateX(0);

    &--resized {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__iframe {
    border: 0;
    width: 100%;
    height: 100px;
    transition: all 0.3s;
  }
}
