.grid {
  display: flex;
  margin: 20px;

  &__content {
    flex: 1;
    background: #fff;
    padding: 20px;
    max-width: 60em;
    overflow: hidden;
  }

  &__view {
    padding-top: 64px; // line up with the code view;
  }

  &__title {
    padding: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
  }
}
