.nav {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  padding: 0 15px;
  width: 100%;
  max-width: 1024px;
  height: 65%;
  overflow: hidden;
  overflow-y: scroll;
  text-align: left;

  @include breakpoint($breakpoint--sm) {
    padding: 0 30px 0 130px;
    height: auto;
    overflow: auto;
    overflow-y: auto;
  }

  .perspective--modalview & {
    opacity: 1;
  }

  &-divider {
    margin: 10px 0;
    border: 0;
    background: #b6b4b6;
    height: 1px;

    @include breakpoint($breakpoint--sm) {
      margin: 10px 0 10px -100px;
    }
  }

  &-title {
    display: block;
    margin: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    line-height: 16px;
    color: #222;
    font-size: 12px;

    @include breakpoint($breakpoint--sm) {
      position: absolute;
      left: 30px;
    }
  }

  &-link {
    transform-style: preserve-3d;
    transform: translateY(-20px);
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0;
    margin: 10px;
    line-height: 16px;
    color: #222;
    font-size: 16px;

    &--active,
    &--active:hover {
      background: #b8b8b8;
    }

    .perspective--animate & {
      transform: translateY(0);
      opacity: 1;

      // increase the delay for each nav item (so they come in staggered);
      @for $i from 1 through 60 {
        &:nth-child(#{ $i + 1 }) {
          transition-delay: $i * 0.02s;
        }
      }
    }
  }
}

@media screen and (max-width: 77em) {
  .nav {
    top: 5%;
  }
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {
  .nav {
    top: 5%;

    &-link {
      display: block;
      text-align: left;
    }
  }
}
