.page-header {
  background: #d8d8d8;
  padding: 10px;

  &__menu {
    color: #222;

    &:hover,
    &:focus {
      background: #c8c8c8;
    }

    &:active {
      background: #b8b8b8;
    }

    &-text {
      margin-left: 1em;
    }
  }
}
