// cf. http://tympanus.net/codrops/2013/12/18/perspective-page-view-navigation/
// wrapper for page;
.perspective {
  background: #d8d8d8;
  width: 100%;
  height: 100%;

  // added via JS (onclick of the hamburger nav);
  // nav is enabled;
  // the window is converted into an absolute layer;
  &--modalview {
    position: fixed;
    perspective: 1500px;

    .perspective__window {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      overflow: hidden;
      backface-visibility: hidden;
    }
  }

  // added after --modalview is added;
  // animates the window offscreen (mimics a minimization of the browser window);
  &--animate {
    .perspective__window {
      transform: translateY(100%) translateZ(-1500px);

      // show the overlay that prevents the user from interacting with the content;
      &::after {
        transition: opacity 0.3s;
        opacity: 1;
        height: 101%;
      }
    }
  }

  // wrapper around the content;
  // enables a fake scroll effect when --modalview is applied;
  // JS adjusts the content offset to mimic a scroll position;
  &__window {
    transform: rotateY(0) translateZ(0);
    transform-origin: 50% 50%;
    transition: transform 0.4s;
    z-index: 10;
    height: 100%;
    min-height: 100%;

    // overlay that is hidden (opacity: 0) by default;
    // when --modalview is applied, this is shown to prevent the user from interacting with the content;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.4s, height 0s 0.4s; // the transition delay of the height needs to be synced with the container transition time;
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 0;
      content: '';
    }
  }

  // content wrapper that is adjusted in --modalview to fake a scroll position
  &__content {
    background: #f2f2f2;
    height: 100%;
    min-height: 100%;
  }
}
