.templates {
  margin: 0 10px 20px;

  &__button {
    color: #222;

    &:hover,
    &:focus {
      background: #c8c8c8;
    }

    &:active {
      background: #b8b8b8;
    }
  }
}

html.template--open {
  height: 100%;
}

.template {
  &--open {
    .template__close,
    .template__overlay,
    .template__resizer {
      display: block;
    }
  }

  &__close {
    display: none;
    position: absolute;
    top: 10px; // match page-header padding;
    right: 10px;
    color: #222;

    &:hover,
    &:focus {
      background: #c8c8c8;
    }

    &:active {
      background: #b8b8b8;
    }

    // don’t show the close iframe link text at mobile;
    &-text {
      display: none;
      margin-right: 0.5em;

      @include breakpoint($breakpoint--sm) {
        display: inline;
      }
    }
  }

  &__resizer {
    display: none;
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    background: #e6e6e6;
    height: 22px;
    overflow: hidden;

    &--visible {
      display: block;
    }

    &-link {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #fff;
      cursor: pointer;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      box-sizing: content-box;

      &::after {
        display: none;
      }

      &:hover {
        &::after {
          display: inline;
        }
      }

      &--active {
        background: rgba(0, 0, 0, 0.25);
      }

      &--375 {
        z-index: 13;
        width: 375px;

        &::after {
          content: 'Mobile: 375px';
        }
      }

      &--768 {
        z-index: 12;
        width: 768px;

        &::after {
          content: 'Tablet (portrait): 768px';
        }
      }

      &--1024 {
        z-index: 11;
        width: 1024px;

        &::after {
          content: 'Tablet (landscape): 1024px';
        }
      }

      &--100 {
        left: 0;
        transform: none;
        z-index: 10;
        border-width: 1px 0;
        width: 100%;

        &::after {
          content: 'Full Width';
        }
      }
    }
  }

  &__overlay {
    display: none;
    position: absolute;
    top: 74px; // height of page-header + resizer;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
  }

  &__iframe-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    background: #fff;
    width: 100%;
    height: 100%;

    &--resized {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__iframe {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
}
