$white: #fff;
$concrete: #f2f2f2;
$mercury: #e6e6e6;
$alto: #d8d8d8;
$silver--dark: #c8c8c8;
$silver--light: #b8b8b8;
$shady-lady: #b6b4b6;
$dusty-gray: #999;
$dove-gray: #666;
$mine-shaft: #222;
$shade--black25: rgba(0, 0, 0, 0.25);
$shade--black50: rgba(0, 0, 0, 0.5);
$old-lace: #fdf6e3;
$pale-sky: #657b83;

$color-text__button: $mine-shaft;
$color-text__card-rich-text--code: $pale-sky;
$color-text__card-rich-text--link: $pale-sky;
$color-text__color-swatch--hex: $white;
$color-text__color-swatch--count: $dove-gray;
$color-text__component-view--loading: $silver--dark;
$color-text__nav: $mine-shaft;
$color-text__page-header-menu: $mine-shaft;
$color-text__resizer-link: $white;

$color-bg__button--hover: $silver--dark;
$color-bg__button--active: $silver--light;
$color-bg__card--shadow: $shade--black50;
$color-bg__card--border: $white;
$color-bg__card--content: $white;
$color-bg__card-font--divider: $silver--dark;
$color-bg__card-rich-text--code: $old-lace;
$color-bg__color-swatch--grad-dark: $dove-gray;
$color-bg__color-swatch--grad-light: $dusty-gray;
$color-bg__color-swatch--hex: $shade--black50;
$color-bg__component-view--loaded: $white;
$color-bg__component-view--loading: $dove-gray;
$color-bg__nav-divider: $shady-lady;
$color-bg__nav-button--hover: $silver--light;
$color-bg__page: $alto;
$color-bg__page-frame: $concrete;
$color-bg__page-frame--overlay: $shade--black50;
$color-bg__page-header: $alto;
$color-bg__page-header-menu--hover: $silver--dark;
$color-bg__page-header-menu--active: $silver--light;
$color-bg__resizer: $dusty-gray;
$color-bg__resizer-link--hover: $shade--black50;
$color-bg__resizer-link--active: $shade--black25;
$color-bg__tabs-link--active: $old-lace;
$color-bg__template-overlay: $concrete;

$size__font: 16px;
$size__line-height: 1.6;
$size__shadow: 5px;
$size__gutter: 20px;
$size__content--narrow: 60em;
$size__content--wide: 90em;
$size__component-view: 100px;

$z-index__card--shadow-cover: 10;
$z-index__card--title: 20;
$z-index__component-view--loaded: 10;
$z-index__component-view--loading: 11;
$z-index__page-frame: 10;
$z-index__page-frame--overlay: 100;
$z-index__resizer--mobile: 13;
$z-index__resizer--tablet-sm: 12;
$z-index__resizer--tablet-lg: 11;
$z-index__resizer--desktop: 10;

$breakpoint--xs: min-width 480px; // phone;
$breakpoint--sm: min-width 768px; // tablet portrait;
$breakpoint--md: min-width 1024px; // tablet landscape;
$breakpoint--lg: min-width 1200px; // desktop;
