$white: #fff;
$concrete: #f2f2f2;
$mercury: #e6e6e6;
$alto: #d8d8d8;
$silver--dark: #c8c8c8;
$silver--light: #b8b8b8;
$shady-lady: #b6b4b6;
$dusty-gray: #999;
$dove-gray: #666;
$mine-shaft: #222;
$shade--black25: rgba(0, 0, 0, 0.25);
$shade--black50: rgba(0, 0, 0, 0.5);
$old-lace: #fdf6e3;
$pale-sky: #657b83;

$color-text__button: $mine-shaft;
$color-text__rich-text--code: $pale-sky;
$color-text__rich-text--link: $pale-sky;
$color-text__swatch--hex: $white;
$color-text__swatch--count: $dove-gray;

$color-bg__button--hover: $silver--dark;
$color-bg__button--active: $silver--light;
$color-bg__card--shadow: $shade--black50;
$color-bg__card--border: $white;
$color-bg__font--divider: $silver--dark;
$color-bg__rich-text--code: $old-lace;
$color-bg__card--content: $white;
$color-bg__swatch--grad-dark: $dove-gray;
$color-bg__swatch--grad-light: $dusty-gray;
$color-bg__swatch--hex: $shade--black50;

$size__font: 16px;
$size__line-height: 1.6;
$size__shadow: 5px;
$size__gutter: 20px;
$size__content--narrow: 60em;
$size__content--wide: 90em;

$z-index__card--shadow-cover: 10;
$z-index__card--title: 20;

$breakpoint--xs: min-width 480px; // phone;
$breakpoint--sm: min-width 768px; // tablet portrait;
$breakpoint--md: min-width 1024px; // tablet landscape;
$breakpoint--lg: min-width 1200px; // desktop;
