// load node modules;
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';
$breakpoint--xs: min-width 480px; // phone;
$breakpoint--sm: min-width 768px; // tablet portrait;
$breakpoint--md: min-width 1024px; // tablet landscape;
$breakpoint--lg: min-width 1200px; // desktop;

@import './base'; // global styles;
@import '../components/prism/prism'; // syntax color coding;
@import '../components/button/button';
@import '../components/card/card';
@import '../components/color-swatch/color-swatch';
@import '../components/component-view/component-view';
@import '../components/grid/grid';
@import '../components/nav/nav';
@import '../components/page/page';
@import '../components/page-header/page-header';
@import '../components/resizer/resizer';
@import '../components/tabs/tabs';
@import '../components/template/template';
