// load node modules;
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';
$breakpoint--xs: min-width 480px; // phone;
$breakpoint--sm: min-width 768px; // tablet portrait;
$breakpoint--md: min-width 1024px; // tablet landscape;
$breakpoint--lg: min-width 1200px; // desktop;

$border-radius: 2px;

@import './prism'; // syntax color coding;
@import './base'; // global styles;
@import './button';
@import './card';
@import './colors';
@import './component__resizer';
@import './component__view';
@import './component-grid';
@import './page-header';
@import './perspective__nav';
@import './perspective';
@import './template';
@import './tabs';
