doctype html
html(lang="en")
  head
    - var title = "search-results"
    include ../_head

  body
    include ../../components/skip-nav/skip-nav
    - var component = json["page-header/page-header.json"]
    include ../../components/page-header/page-header
    include ../../components/site-nav/site-nav

    main.container#main
      include ../../components/search-results/search-results

    include ../_foot
