.grid {
  display: flex;

  // left column;
  // contains the title and tabs of code;
  &__content {
    flex: 1;
    max-width: $size__content--narrow;
    align-items: stretch; // make sure component-view content is at least as tall as the view;
  }

  // right column (optional);
  // contains buttons to open template pages;
  &__templates {
    padding: $size__gutter 0 $size__gutter $size__gutter;
    font: sans-serif;
    font-size: 12px;
  }

  // button wrapper within __templates;
  &__template-button {
    + .grid__template-button {
      margin-top: $size__gutter / 2;
    }
  }

  // right column (optional);
  // contains an IFRAME of the component view;
  &__view {
    padding-top: 87px; // line up with the code view tabs;
    padding-bottom: $size__gutter; // so a psudeo element overlaps the dropshadows properly;
  }
}
