doctype html
html(lang="en")
  head
    - var title = "story"
    include ../_head

  body
    include ../../components/skip-nav/skip-nav
    include ../../components/page-header/page-header
    include ../../components/site-nav/site-nav
    include ../../components/story/story
    include ../../components/slat-list/slat-list
    include ../../components/photo-slideshow/photo-slideshow
    include ../../components/page-footer/page-footer

    include ../_foot
