- var content = locals.content || [];
doctype html
html(lang="en")
    head
    
    body
        p default
        ul
            - (content.length) && content.map(function (item) {
                li
                    a(data-json=JSON.stringify(item.json)) {{ item.title }}
            - })
