.slat {
  .img-cover {
    min-width: size(3);
    min-height: size(3);
  }

  h3 {
    font-size: $font-size__medium;
    font-weight: 400;
    transition: color $duration__color;
  }

  a {
    color: $color__textDark;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;

    &:hover,
    &:focus {
      // don't want the kicker or trailer to be change;
      h3 {
        text-decoration: underline;
        color: $color__highlightLight;
      }

      img {
        opacity: $opacity__hover;
      }
    }
  }

  // container for the text content of the slat;
  &__text {
    padding: 0 0 0 size(0.5);
    flex-grow: 1;
  }

  &__kicker,
  &__trailer {
    font-size: $font-size__small;
  }
}
