meta(charset="utf-8")
meta(http-equiv="x-ua-compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="../css/site.css")

title=title

include ../components/favicons/favicons

meta(name="description", content="")
meta(property="og:title", content=title)
meta(property="og:type", content="website")
meta(property="og:image", content="")
meta(property="og:description", content="")
