// breakpoint variables;
// screen sizes are defined in the bootstrap variables;
$breakpoint--xs: min-width 480px; // phone;
$breakpoint--sm: min-width 768px; // tablet portrait;
$breakpoint--md: min-width 1024px; // tablet landscape;
$breakpoint--lg: min-width 1200px; // desktop;
