// colors (if you need to come up with a name for a color);
// http://chir.ag/projects/name-that-color/
$white: #fff;
$black: #000;
$daintree: #002b36;
$cutty-sark: #586e75;
$pewter: #93a1a1;
$old-lace: #fdf6e3;
$pirate-gold: #b58900;

// above are the colors in use;
// below are the variables that should be used;
// don’t litter the CSS with red, green, blue color variables;
// red might not be red by the end of the project;
// but a $color__brand color will always be in use;

// color palet for the project;
// $color__brand--primary: $white;
