@import './variables--colors';
@import './variables--fonts';

// z-index stacks;
// $z-index__hamburger: 120;

// breakpoint variables;
// screen sizes are defined in the bootstrap variables;
$breakpoint--xs: min-width 480px; // phone;
$breakpoint--sm: min-width 768px; // tablet portrait;
$breakpoint--md: min-width 992px; // tablet landscape;
$breakpoint--lg: min-width 1200px; // desktop;
