// sitewide styles independent of a component;
// this should be a VERY limited list;

body {
  -webkit-font-smoothing: antialiased;
  font-size: $font-size__medium;
  line-height: $line-height__medium;
  position: relative;
  font-family: $font-family__body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family__header;
  margin: 0;
}

// important because Bootstrap sets this to inherit;
// and the Bootstrap grid is loaded after this file;
*,
::after,
::before {
  box-sizing: border-box !important;
}

:active,
:focus {
  box-shadow: none;
  outline: none;
}
