@import './variables--colors';
@import './variables--fonts';

$font-size__x-small: 8px;
$font-size__small: 12px;
$font-size__medium: 16px;
$font-size__large: 22px;
$font-size__x-large: 32px;

$line-height__small: 12px;
$line-height__medium: 24px;
$line-height__large: 48px;

// generate sizes (height/width/font-size) based on the grid;
// the vertical and horizontal grid are based off the medium line-height;
@function size($num) {
  @return $num * $line-height__medium;
}

$opacity__hover: 0.9;
$opacity__disabled: 0.2;

$duration__color: 0.15s;
$duration__fill: 0.15s;

// page widths / breakpoints;
// used in the breakpoint vars below, and in the grid component styles;
$page__width--sm: size(28);
$page__width--md: size(40);
$page__width--lg: size(52);
$page__width--xl: size(64);

// .container (grid) widths;
// used in grid component styles;
$container__width--sm: size(24);
$container__width--md: size(36);
$container__width--lg: size(48);
$container__width--xl: size(60);

// breakpoint variables;
$breakpoint--sm: min-width $page__width--sm; // phone;
$breakpoint--md: min-width $page__width--md; // tablet portrait;
$breakpoint--lg: min-width $page__width--lg; // tablet landscape;
$breakpoint--xl: min-width $page__width--xl; // desktop;
