.rich-text {
  * {
    margin: 0;

    & + * {
      margin-top: size(1);
    }
  }

  a {
    color: $endeavour;
    transition: color $duration__color;

    &:hover,
    &:focus {
      color: $color__highlightLight;
    }
  }

  h1 {
    font-size: $font-size__x-large;
    line-height: $line-height__large;
  }

  h2 {
    font-size: $font-size__large;
    line-height: $line-height__large;

    & + * {
      margin-top: 0;
    }
  }

  h3 {
    font-size: $font-size__medium;
    line-height: $line-height__large;

    & + * {
      margin-top: 0;
    }
  }

  h4,
  h5,
  h6 {
    font-family: $font-family__body;
    font-size: $font-size__medium;
    line-height: $line-height__medium;

    & + * {
      margin-top: 0;
    }
  }

  ul,
  ol {
    padding-left: size(1);
    margin-left: size(1);
  }

  ul {
    list-style-type: square;
  }

  li + li {
    margin-top: 0;
  }

  blockquote {
    margin-left: size(1);
    padding: 0 size(0.5) 0 size(1);
    border-left: 1px solid $color__highlightLight;
  }

  // tweet inserted in the rich-text;
  // override inline styles with !important;
  // so the vertical grid is maintained;
  .twitter-tweet {
    margin: 0 auto !important;
    padding: size(2) - 12px 0 size(2) - 16px;

    @include breakpoint($breakpoint--md) {
      padding-bottom: size(2) - 17px !important;
    }
  }

  // the tweet is followed by a SCRIPT tag;
  script {
    margin: 0;

    & + * {
      margin-top: 0;
    }
  }
}
