doctype html
html(lang="en")
  head
    - var title = "search-results"
    include ../_head

  body
    include ../../components/skip-nav/skip-nav
    include ../../components/page-header/page-header
    include ../../components/site-nav/site-nav
    include ../../components/search-results/search-results

    include ../_foot
