- var component = json["story-image/story-image.json"]
// start `story-image` component; 
div.story-image(role="complementary")
  div.img-cover
    img(src=component.img, alt=component.alt)
// end `story-image` component; 