.story-image {
  .img-cover {
    height: size(10);

    @include breakpoint($breakpoint--sm) {
      height: size(12);
    }

    @include breakpoint($breakpoint--md) {
      height: size(14);
    }

    @include breakpoint($breakpoint--lg) {
      height: size(16);
    }

    @include breakpoint($breakpoint--xl) {
      height: size(18);
    }
  }
}
