.page-header {
  background: $color-bg__page-header;
  padding: 10px;

  &__menu {
    color: $color-text__page-header-menu;

    &:hover,
    &:focus {
      background: $color-bg__page-header-menu--hover;
    }

    &:active {
      background: $color-bg__page-header-menu--active;
    }
  }
}
