- var content = locals.content || [];
doctype html
html(lang="en")
    head
        title ShortDocumentation for [insert project name]
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/solarized_light.min.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")
        
        script(src="https://pagedown.googlecode.com/hg/Markdown.Converter.js")
        script(src="https://pagedown.googlecode.com/hg/Markdown.Sanitizer.js")
        
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script var ShortDocs = {}; ShortDocs.data = !{JSON.stringify(content)};
        script(src="./js/common.js")
        script(src="./js/page-documentation.js")
        
        // bad bad bad, we dont want to cross link build, src, and docs;
        link(rel="stylesheet", href="../src/pages/_docs/page.css")
    
    body
        div.container
            div.row
                div.col-iframe
                    div.iframe-container
                        iframe(frameborder="0")
                
                div.col-readme
                    header
                        h1
                            span
                            select.objects
                        h2
                            span
                            select.files
                    main
                        pre
                            code.content
                        div.content
            div.row
                div.col-banner
                    p
                        a.set-flex-width(data-widths=["0 0 1200px", "1"]) iframe (1200)
                        a.set-flex-width(data-widths=["0 0 1024px", "1"]) iframe (1024)
                        a.set-flex-width(data-widths=["0 0 768px", "1"]) iframe (768)
                        a.set-flex-width(data-widths=["0 0 480px", "1"]) iframe (480)
                        a.set-flex-width(data-widths=["1", "0 0 768px"]) docs
                        a.set-flex-width(data-widths=["2", "1"]) default
