doctype html
html(lang="en")
  head
    - var title = "home"
    include ../_head

  body
    include ../../components/skip-nav/skip-nav
    - var component = json["page-header/page-header--links.json"]
    include ../../components/page-header/page-header
    include ../../components/site-nav/site-nav

    main.container#main
      include ../../components/featured-stories/featured-stories
      - var component = json["headline-slideshow/headline-slideshow-entertainment.json"]
      include ../../components/headline-slideshow/headline-slideshow
      - var component = json["headline-slideshow/headline-slideshow-health.json"]
      include ../../components/headline-slideshow/headline-slideshow
      - var component = json["headline-slideshow/headline-slideshow-lifestyle.json"]
      include ../../components/headline-slideshow/headline-slideshow
      - var component = json["headline-slideshow/headline-slideshow-sports.json"]
      include ../../components/headline-slideshow/headline-slideshow
    
    include ../../components/page-footer/page-footer

    include ../_foot
