[class^='icon-'],
[class*=' icon-'] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: $color__highlightLight;
}

.icon-spin-alt {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
