div.container
  div.row.align-items-center
    div.col-auto
      svg.icon-bars
        title bars
        use(xlink:href="../images/icons/icons.svg#icon-bars")

    div.col
      input(value='<svg class="icon-bars"><title>navigation</title><use xlink:href="#icon-bars"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-twitter
        title twitter
        use(xlink:href="../images/icons/icons.svg#icon-twitter")

    div.col
      input(value='<svg class="icon-twitter"><title>Twitter</title><use xlink:href="#icon-twitter"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-facebook
        title facebook
        use(xlink:href="../images/icons/icons.svg#icon-facebook")

    div.col
      input(value='<svg class="icon-facebook"><title>Facebook</title><use xlink:href="#icon-facebook"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-instagram
        title instagram
        use(xlink:href="../images/icons/icons.svg#icon-instagram")

    div.col
      input(value='<svg class="icon-instagram"><title>Instagram</title><use xlink:href="#icon-instagram"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-angle-right
        title angle-right
        use(xlink:href="../images/icons/icons.svg#icon-angle-right")

    div.col
      input(value='<svg class="icon-angle-right"><title>next</title><use xlink:href="#icon-angle-right"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-angle-left
        title angle-left
        use(xlink:href="../images/icons/icons.svg#icon-angle-left")

    div.col
      input(value='<svg class="icon-angle-left"><title>previous</title><use xlink:href="#icon-angle-left"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-angle-down
        title angle-down
        use(xlink:href="../images/icons/icons.svg#icon-angle-down")

    div.col
      input(value='<svg class="icon-angle-down"><title>down arrow</title><use xlink:href="#icon-angle-down"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-youtube
        title youtube
        use(xlink:href="../images/icons/icons.svg#icon-youtube")

    div.col
      input(value='<svg class="icon-youtube"><title>YouTube</title><use xlink:href="#icon-youtube"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-times
        title times
        use(xlink:href="../images/icons/icons.svg#icon-times")

    div.col
      input(value='<svg class="icon-times"><title>close</title><use xlink:href="#icon-times"></use></svg>')
  
  div.row.align-items-center
    div.col-auto
      svg.icon-spin-alt
        title spin-alt
        use(xlink:href="../images/icons/icons.svg#icon-spin-alt")

    div.col
      input(value='<svg class="icon-spin-alt"><title>loading</title><use xlink:href="#icon-spin-alt"></use></svg>')

style.
  /* inline styles meant only for the documentation page, not the ACME site; */
  div.container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  div.row + div.row {
    margin-top: 24px;
  }

  [class^='icon-'] {
    display: block;
  }

  input {
    border: 0;
    background: #ccc;
    padding: 12px 24px;
    display: block;
    width: 100%;
  }

script.
  // make it easy to copy the code needed to generate an icon;
  // on focus of an INPUT, select all the text (it's what the user is trying to do anyways);
  var inputs = document.getElementsByTagName('input');

  for (let input of inputs) {
    input.addEventListener('focus', (event) => {
      event.target.select();
    });
  }