- var component = json["headline-grid/headline-grid.json"]
// start `headline-grid` component; 
section.headline-grid
  h2=component.title
  p=component.updated

  div.headline-grid__stories
    - var stories = component.stories
    for story, index in stories
      - var component = story
      - component.addClass = 'card--overlay'
      - component.addClass += index > stories.length - 7 ? ' d-none d-lg-block' : ''
      include ../card/card
// end `headline-grid` component; 
