.headline-grid {
  background: $color__backgroundDarkShade;
  padding: size(1) size(1) size(0.5);
  margin-top: size(1);

  h2 {
    display: inline-block;
    font-size: $font-size__large;
    vertical-align: bottom;
  }

  p {
    display: inline-block;
    font-size: $font-size__small;
    margin: 0 0 0 size(0.5);
  }

  // container for all card components;
  &__stories {
    display: flex;
    flex-wrap: wrap;
    padding-top: size(0.5);
    margin: 0 size(0.5) * -1;
  }

  // rows of two (2) at smaller breakpoints;
  .card {
    width: calc(50% - #{size(1)});
    margin: size(0.5);

    // rows of four (4) at larger breakpoints;
    @include breakpoint($breakpoint--lg) {
      width: calc(25% - #{size(1)});
    }
  }
}
