header.site-header {
    background: #ddd;
    
    ul,
    li {
        list-style: none;
    }
    
    li {
        display: inline;
        font-size: 16px;
        line-height: 76px;
        
        + li {
            margin-left: 1em;
        }
    }
}
