footer.site-footer {
    background: #779ECB;
    font-size: 14px;
    
    @include breakpoint($breakpoint-sm) {
        background: #77DD77;
    }
    @include breakpoint($breakpoint-md) {
        background: #F49AC2;
    }
    @include breakpoint($breakpoint-lg) {
        background: #FFB347;
    }
    
    h1 {
        font-size: 14px;
    }
    
    p.links {
        text-align: center;
        
        a + a {
            margin-left: 1em;
        }
    }
    
    p.copyright {
        text-align: center;
    }
}
