footer.site-footer {
    background: #779ecb;
    font-size: 14px;
    
    @include breakpoint($breakpoint-sm) {
        background: #7d7;
    }
    
    @include breakpoint($breakpoint-md) {
        background: #f49ac2;
    }
    
    @include breakpoint($breakpoint-lg) {
        background: #ffb347;
    }
    
    h1 {
        font-size: 14px;
    }
    
    p.links {
        text-align: center;
        
        a + a {
            margin-left: 1em;
        }
    }
    
    p.copyright {
        text-align: center;
    }
}
