.tabs {
  position: relative; // to overlap the dropshadows;
  margin: $size__gutter 0 0;

  &:first-child {
    margin: 0;
  }

  &__nav {
    &-link {
      display: inline-block;
      cursor: pointer;
      padding: $size__gutter / 2 $size__gutter;

      i.fa {
        margin-right: 5px;
      }

      &--active {
        background: $color-bg__tabs-link--active;
      }
    }
  }
}
