*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #cf3149;
  border-bottom: 2px solid #cf3149;
  text-decoration: none;
}
a:hover,
a:active {
  color: #0054ad;
  border-bottom-color: #0054ad;
}

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  color: #313149;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  max-width: calc(50 * 24px);
  height: 24px;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
}
body:after {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  max-width: calc(50 * 24px);
  height: 24px;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 10;
}

main {
  padding: 24px 24px 24px 48px;
  background: #fff;
  max-width: calc(50 * 24px); /* -3 content due to padding; */
}
main::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 24px;
  background: #cf3149;
  border-right: 12px solid #313149;
  z-index: 30;
}

section {
  margin-top: 24px;
}
section section {
  margin-top: 0;
}

ul,
ol {
  margin-left: 24px;
}

h1 {
  line-height: 48px;
  margin: -24px 0 24px;
}
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
}
@media (min-width: 1024px) {
  h2,
  h3 {
    position: sticky;
  }
}
h2 {
  top: 24px;
  z-index: 41; /* be above the h3 and h4, and top bar; */

  border-top: 1px solid #313149;
  max-width: calc(38 * 24px);
  text-transform: uppercase;
}
h3 {
  top: 72px;
  z-index: 2;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  z-index: 1;
}
/* create a solid background so other content flows underneath these fixed headers; */
h2::before,
h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(9 * 24px);
  background: #fff;
  z-index: -1;
}

/* debuging grid overlay, horizontal and vertical grid; */
.debug-grid {
  content: "";
  display: block;
  background-size: 24px 24px;
  background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px),
    linear-gradient(to right, #ccc 1px, transparent 1px);
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  display: none;
}

/* table of contents; */
.toc {
  list-style: none;
  margin-left: 0;
}
.toc ul {
  list-style: none;
  margin-left: 16px;
}

/* content containers; */
@media (min-width: 1024px) {
  .content--rich-text,
  .content--code {
    margin: 0 0 0 calc(9 * 24px);
  }
  .content--rich-text {
    width: calc(20 * 24px);
  }
}
.content--rich-text + .content--code,
.content--code + .content--rich-text,
.content--rich-text > * + * {
  margin-top: 24px;
}

/* override Prism styles; */
.content--code pre[class*="language-"] {
  margin: 0;
  padding: 0 24px;
  background: #313149;
  line-height: 24px;
  font-size: 16px;
}

/* custom scrollbar; */
.content--code pre[class*="language-"]::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.content--code pre[class*="language-"]::-webkit-scrollbar-thumb {
  background-color: #cf3149;
}
