// change bootstap clearfix (it uses overflow which causes problems in older browsers);
@mixin clearfix () {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}
