*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
blockquote {
    margin: 1em 0 0 0;
    padding: 0 0 0 2em;
}
dd {
    margin: 0 0 0 2em;
}
dl {
    margin: 1em 0 0 0;
}
em {
    font-style: italic;
}
form {
    margin: 1em 0 0 0;
}
h1,
h2 {
    margin-top: 1em;
}
h3 {
    margin-top: 1em;
}
h4,
h5,
h6 {
    margin-top: 1em;
}
html {}
hr {
    margin: 2em 0;
}
i {
    font-style: italic;
}
iframe {
    display: block;
}
main {
    display: block; // for IE;
}
ol {
    margin: 1em 0 0 0;
    
    li {
        list-style: decimal;
        margin: 0 0 0 2em;
    }
    
    ol {
        margin: 0.5em 0;
    }
}
p {
    margin: 1em 0 0 0;
}
picture {
    display: inline-block; // for IE;
}
pre {
    margin: 1em 0 0 0;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
        content: open-quote;
    }
    &:after {
        content: close-quote;
    }
}
strong {
    font-weight: bold;
}
table {
    margin: 1em 0 0 0;
}
th {
    text-align: left;
}
ul {
    margin: 1em 0 0 0;
    
    li {
        list-style: disc;
        margin: 0 0 0 2em;
    }
    
    ul {
        margin: 0.5em 0;
    }
}
