// colors;
// http://www.color-hex.com/ - if you need to come up with a name for a color;

// font sizes;

// breakpoints;
$screen-sm: min-width  768px; // tablet       | small screen;
$screen-md: min-width  992px; // desktop      | medium screen;
$screen-lg: min-width 1200px; // wide desktop | large screen;
