.card__content {
  &--rich-text {
    line-height: 1.6;
    font-size: 16px;

    code {
      border-radius: 3px;
      background: #fdf6e3;
      padding: 3px 6px;
      color: #657b83;
      font-family: monospace;
    }

    a,
    a:visited,
    a:hover,
    a:focus {
      color: #657b83;

      code {
        color: #657b83;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
    }

    // add a top margin to everything but the first element;
    > * {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
