.card__content {
  &--font-head {
    padding-bottom: 0;
  }

  &--font-body {
    position: relative;
    max-width: $size__content--wide;

    &::before {
      position: absolute;
      top: 0 - $size__shadow;
      left: 0;
      background: $color-bg__card--border;
      width: 100%;
      max-width: $size__content--narrow;
      height: $size__shadow;
      content: '';
    }

    p {
      margin: 0;
      border-bottom: 1px dotted $color-bg__card-font--divider;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
      white-space: nowrap;

      &:nth-child(1) {
        border-top: 1px dotted $color-bg__card-font--divider;
        font-size: 36px;
      }

      &:nth-child(2) {
        font-size: 32px;
      }

      &:nth-child(3) {
        font-size: 28px;
      }

      &:nth-child(4) {
        font-size: 24px;
      }

      &:nth-child(5) {
        font-size: 20px;
      }

      &:nth-child(6) {
        font-size: 16px;
      }
    }
  }
}
