.card__content {
  &--component-view {
    position: relative;
    margin: 0 0 - $size__gutter;
    border: $size__gutter solid $color-bg__card--border;
    border-width: $size__gutter 0;
    padding: 0;
    max-width: none;
  }
}
