.card__content {
  &--colors-head {
    padding-bottom: 0;
  }

  &--colors-body {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    max-width: $size__content--wide;
    padding: 0;
  }
}
