// color swatch, one per color defined in the site SCSS;
.color-swatch {
  margin: $size__gutter;
  width: calc(20% - #{ $size__gutter } * 2);

  // if a color swatch is transparent, a gradient background is added;
  &__gradient {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, $color-bg__color-swatch--grad-dark 35px, $color-bg__color-swatch--grad-light 70px);
  }

  // block with inline background color defined;
  &__chip {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 2px $color-bg__card--shadow;
    padding-bottom: 66%;
    height: 0;
  }

  // hex value displayed on top of the chip;
  &__hex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background: $color-bg__color-swatch--hex;
    padding: 5px;
    color: $color-text__color-swatch--hex;
  }

  // text under the chip, contains the name and count;
  &__label {
    padding-top: 5px;
  }

  &__name {
    line-height: 1;
    font-size: $size__font;
  }

  &__count {
    line-height: 16px;
    color: $color-text__color-swatch--count;
    font-size: 10px;

    @include breakpoint($breakpoint--md) {
      float: right;
    }
  }
}
